body{
	margin: 0px;
	width: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}

#headermenu{
	overflow: auto;
}
/* old green #C2D56F */
.text-green{
	color: #657811;
}

.text-blue{
	color: #2885D2;
}

.intro-content h3{
	margin: 0;
	padding: 0;
	display: block;
}

.border-green{
	border-style: solid;
	border-color: #657811;
	border-width: 1px;
}

.border-grey{
	border-style: solid;
	border-color: #a0a0a0; 
	border-width: 1px;
}

.contentblock{
	background-color: #F9F9F9;
}

.headermenubtn{
	color: #2885D2;
	background-color: #fff;
}

#footer{
	background-color: #F9F9F9;
}

#minifooter{
	background-color: #F9F9F9;
}

#header{
	background-color: #F9F9F9;
}

#miniheader{
	background-color: #fff;
	padding-bottom: 0;
}

@import url('https://fonts.cdnfonts.com/css/papyrus');
#miniheader b div{
	letter-spacing: 1px;
	margin-left: 10px;
	font-family: 'Papyrus', sans-serif;
	font-size: 140%;
}

#logo{
	background-color: #fff;
}

#contactblock{
	background-color: #2885D2;
	color: #fff;
}

.contact-content{
	background-color: #F9F9F9;
}

.introcontent{
	background-color: #F9F9F9;
}

@media only screen and (max-width: 595px) {

}

@media only screen and (min-width: 600px) {

#logo img{
	width: 80%;
	margin-top: 15%;
}

#image{
	position: relative;
	z-index: 0;
	display: none;
}

.headermenubtn{
	margin: 10px;
	padding: 5px;
	float: left;
	width: 15%;
	font-size: 125%;
}

.contentblock{
	width: 100%;
	margin-top: 25px;
	padding: 0;
	content: right;
	font-size: 
}

.contentblock-left{
	float: left;
}

.contentblock-right{
	float: right;
}

.text-blurb{
	width: 90%;
	float: left;
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 3%;
}

.text-blurb h3{
	padding: 1%;
	margin: 0;
}

.contentblock-right img{
	display: none;
}

.contentblock-left img{
	display: none;
}

#footer{
	margin-top: 5%;
	float: left;
	width: 100%;
}

.footerblock{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 25%;
	float: left;
}

.footercontent{
	padding-left: 25%;
	padding-top: 10%;
	padding-bottom: 10%; 
}

#minifooter{
	float: left;
	width: 100%;
}

#minifootercontent{
	text-align: center;
	padding: 3px;
}

#header{
	text-align: center;
	width: 100%;
}

#miniheader{
	margin: 0px;
	padding: 5px;
	font-size: 110%;
}

#miniheader b div{
	display: inline;
}


#logo{
	float: left;
	border-radius: 100%;
	height: 0;
	width: 8%;	
	padding-bottom: 8%;
	margin: 5px;
	margin-top: -15px;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

#contactblock{
	padding: 1%;
	width: 100%;
	margin-top: 2%;
	text-align: center;
}

.portfoliotext{
	width: 100%;
}

.portfoliosubcontent{
	float: left;
}

.portfolioimg{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	height: 158px;
}

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 889px) {

}

@media only screen and (min-width: 1200px){

#logo img{
	width: 80%;
	margin-top: 15%;
}

#image{
	position: relative;
	z-index: 0;
	background-image: url('images/ffff.jpg');
	background-size: cover;
	height: 600px;
	display: block;
}

.headermenubtn{
	margin: 10px;
	padding: 5px;
	float: left;
	width: 15%;
	font-size: 125%;
}

.contentblock{
	width: 50%;
	margin-top: 25px;
	padding: 0;
	content: right;
}

.halfblocks{
	float: left;
	margin-left: 15%;
	margin-top: 5%;
}

.contenthalfblock{
	background-color: #F9F9F9;
	float: left;
	width: 35%;
	margin-top: 25px;
	margin-left: 5%;
	padding: 0;
	content: right;
}

.contenthalfblock img{
	float: right;
	height: 100%;
	height: 180px;
}

.contentblock-left{
	float: left;
	padding-left: 15%;
}

.contentblock-right{
	float: right;
	padding-right: 15%;
}

.contentblock .text-blurb{
	width: 75%;
	float: left;
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 3%;
}

.contenthalfblock .text-blurb{
	width: 50%;
	float: left;
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 3%;
}

.text-blurb h3{
	padding: 1%;
	margin: 0;
}

.contentblock-right img{
	float: left;
	display: block;
}

.contentblock-left img{
	float: right;
	display: block;
}

#footer{
	margin-top: 5%;
	float: left;
	width: 100%;
}

.footerblock{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 25%;
	float: left;
}

.footercontent{
	padding-left: 25%;
	padding-top: 10%;
	padding-bottom: 10%; 
}

#minifooter{
	float: left;
	width: 100%;
}

#minifootercontent{
	text-align: center;
	padding: 3px;
}

#header{
	text-align: center;
	width: 100%;
}

#miniheader{
	margin: 0px;
	padding: 5px;
	font-size: 110%;
}

#miniheader div{
	display: inline;
}


#logo{
	float: left;
	border-radius: 100%;
	height: 0;
	width: 8%;	
	padding-bottom: 8%;
	margin: 5px;
	margin-top: -15px;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

#contactblock{
	padding: 1%;
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
}

.contact-content{
	margin:0;
	width: 30%;
	float: left;
	padding: 3%;
	margin-left: 3%;
	margin-top: 3%;
}

.intro-content{
	background-color: #F9F9F9;
	margin-top: 1%;
	padding: 1%;
	width: 80%;
	margin-left: 15%;
	float: left;
}

.intro-subcontent{
	float: left;
	margin-right: 1%;
	padding: 1%;
}

#intro-pict{
	width: 15%;
}

#intro-pict img{
	width: 100%;
}

#intro-experience{
	width: 15%;
}

#intro-text{
	float: left;
	width: 50%;
}

}
