<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link href="https://fonts.cdnfonts.com/css/papyrus" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'styles.css' %}?version=21">
</head>
<body>
	{% block header %}
		<div id="header" class="border-green">
			<div style="padding-bottom: 0px;" id="miniheader" class="border-green"><b><div class="text-green">Vertalingen</div> <div class="text-blue">Redacties</div> <div class="text-green">Teksten</div> <div class="text-blue">Correcties</div></b></div>
			<a href="../"><div id="logo" class="border-grey"><img src="{% static 'images/logo.jpg' %}"></div></a>
			<div id="headermenu">
				<a href="../"><div class="headermenubtn border-grey"> Home </div></a>
				<a href="../contact"><div class="headermenubtn border-grey"> Contact </div></a>
				<a href="../intro"><div class="headermenubtn border-grey"> Wie zijn wij </div></a>
				<a href="../portfolio"><div class="headermenubtn border-grey"> Portfolio </div></a>
			</div>
		</div>
	{% endblock %}
	<div id="fl-content">
	{% block content %}
	{% endblock %}
	</div>

	{% block footer %}
		<div id="footer" class="border-green">
			<div class="footerblock"><div class="footercontent text-blue">inAksie v.o.f.<br>Broeklanderweg 23<br> 7341 PK  APELDOORN<br>  Tel: 06-18684898<br> KvK: 8110.883<br>BTW: 8110.86.355.B.01</div></div>
			<div class="footerblock"><div class="footercontent text-green">
				<a href="../portfolio#portfolio-kinderboeken">Kinderboeken</a><br> 
				<a href="../portfolio#portfolio-sportboeken">Sportboeken</a><br> 
				<a href="../portfolio#portfolio-kookboeken">Hobbyboeken</a><br> 
				<a href="../portfolio#portfolio-reisboeken">Reisboeken</a><br> 
				<a href="../portfolio#portfolio-kookboeken">Kookboeken</a><br>
			</div></div>
			<div class="footerblock"><div class="footercontent text-blue">
				<a href="../portfolio#portfolio-kookboeken">Dieetboeken</a><br> 
				<a href="../portfolio#portfolio-biografieen">Biografieën</a><br> 
				<a href="../portfolio#portfolio-kookboeken">Fictie</a><br> 
				<a href="../portfolio#portfolio-lifestyle">Lifestyleboeken</a><br>
			</div></div>
			<div class="footerblock"><div class="footercontent"></div></div>
		</div>
		<div id="minifooter"><div id="minifootercontent">Copyright © 2020. All Rights Reserved.</div></div>
	{% endblock %}
</body>
</html>