{% extends 'base.html' %}

{% block content %}
<div id="contact-wrapper">
	<div class="contact-content border-green">
		<h3 class="text-blue">Hoofdvesting</h3>
		<p>Vertaalbureau inAksie v.o.f.<br> Broeklanderweg 23 <br>7341 PK  APELDOORN <br>06-1868489<br><br>inaksie@planet.nl<br>KvK 8110.883<br>BTW-nummer 8110.86.355.B.01</p>
	</div>
	<div class="contact-content border-green">
		<h3 class="text-blue">Nevenvestigingen</h3>
		<p> De Hofstede 9 <br>1274 JA  HUIZEN <br>06-11851795<br>aldejong@kpnmail.nl<br><br>Slijkhuisstraat 4<br>8171 LR  VAASSEN<br>06-52649044<br>toos@2schorpioenen.nl</p>
	</div>
</div>
{% endblock %}