{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<div id="image" class="border-grey"></div>
	<div id="contactblock">Neem contact met ons op via inaksie@planet.nl of bel 0618684898</div>
	<div class="contentblock contentblock-right border-grey">
		<img style="height: 160px" src="{% static 'images/logo.jpg' %}">
		<div class="text-blurb">Gestart in 2003, timmert inAksie intussen al een tijd aan de weg in vertaalland. De naam is een acroniem (in de ruime zin van het woord) van de drie voornamen van de vennoten van het eerste uur: Ingrid, Akkie en Sietske. Inmiddels heeft Toos de plek ingenomen van Sietske, maar de bedrijfsnaam is gebleven. We vertalen boeken over de meest uiteenlopende onderwerpen vanuit het Engels, Frans of Duits in het Nederlands en hebben een aantal vaste opdrachtgevers, voor wie we soms al vanaf het begin vertalen, redigeren en corrigeren.
		</div>
	</div>
	<div class="contentblock contentblock-left border-grey">
		<div class="text-blurb">We runnen inAksie zoals gezegd met z’n drieën. Voor ons werkt dit heel prettig omdat we elkaars kwaliteiten goed kennen en elkaar aanvullen. Daarom kunnen we ook samen een project aanpakken als de deadline heel krap is. In andere gevallen verzorgen we zowel de vertaling als de redactie van een tekst of boek. De ene collega kijkt dan de andere na. Het is maar net waar de voorkeur van de klant naar uit gaat.
		</div>
		<img style="height: 160px"  src="{% static 'images/IMG_0008.JPG' %}">
	</div>
	<div class="halfblocks">
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-kookboeken">
			<img src="{% static 'images/Aan_tafel.jpg' %}">
				<div class="text-blurb">
					<h3>Kookboeken</h3>Als je zelf van koken houdt, is het vertalen van kookboeken bijna een hobby.
				</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-lifestyle">
			<img src="{% static 'images/bergen.jpg' %}">
			<div class="text-blurb">
				<h3>Lifestyle & spiritualiteit</h3>Leef in het moment, pak je problemen aan, vind je draai in je werk… Soms worden we heel zen van vertalen
			</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-kinderboeken">
				<img src="{% static 'images/tmpCA4D-large.png' %}">
				<div class="text-blurb">
					<h3>Kinderboeken</h3>Heerlijk om je weer even in te leven in de fantasiewereld van kinderen.
				</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-reisboeken">
				<img src="{% static 'images/tmpC03A.png' %}">
				<div class="text-blurb">
					<h3>Reisboeken</h3>Zonder het gedoe van boekingen, reisverzekeringen, vaccins en zo meer, kennismaken met allerlei landen, hun geografie, bevolking en cultuur
				</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-sportboeken">
				<img src="{% static 'images/Barca.jpg' %}">
				<div class="text-blurb">
					<h3>Sportboeken</h3>Voetbal, schaatsen, wielrennen, maar ook judo, snowboarden en paardrijden: leuk om naar te kijken in het echt en op tv, maar bijna nog leuker om boeken vol achtergrondinformatie te vertalen.
				</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-biografieen">
			<img src="{% static 'images/Banksy.jpg' %}">
			<div class="text-blurb">
				<h3>Biografieën</h3>Een boek vertalen over een bekend persoon is als het lezen van een non-fictie roman. De hoofdpersoon is altijd iemand die naast een boeiendleven ook een bijzonder talent heeft of op een andere manier interessant is. Smullen voor vertalers!
			</div>
			</a>
		</div>
		<div class="contenthalfblock border-grey">
			<a href="../portfolio#portfolio-misc">
			<img src="{% static 'images/AlledaagsChinees.jpg' %}">
			<div class="text-blurb">
				<h3>En nog veel meer</h3>Er zijn nog veel meer boeken waar we trots op zijn en die niet in bovenstaande categorieën vallen. Het varieert van een leerboek Chinees tot een boek over moleculen en van boeken over schilderen tot prachtige uitgaven over de natuur.
			</div>
			</a>
		</div>
	</div>

{% endblock %}