{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="intro-blurb">Vertaalbureau inAksie is op 12 november 2002 opgericht door drie collega-vertalers: INgrid Buthod-Girard, AKkie de Jong en SIEtske Chardon. Inmiddels heeft Sietske afscheid genomen en is ons team versterkt met Toos IJdema</div>
	<div class="intro-content"><h3>Ingrid Buthod-Girard</h3><img src="{% static 'images/testimage.png' %}"><div>Met een Brusselse moeder en een Franse echtgenoot ligt affiniteit met de Franse taal voor de hand maar ook in het Engels en Duits voel ik me thuis, zeker als het gaat om het vertalen van teksten over koken, sport, handwerken en reizen. Af en toe wissel ik vertaal- en redactiewerk af met schrijfopdrachten. Daarnaast ben ik verantwoordelijk voor de bedrijfsvoering van ons vertaalbureau</div></div>
	<div class="intro-content"><img src=""></div>
	<div class="intro-content"><img src=""></div>

{% endblock %}