{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="intro-blurb">Vertaalbureau inAksie is op 12 november 2002 opgericht door drie collega-vertalers: INgrid Buthod-Girard, AKkie de Jong en SIEtske Chardon. Inmiddels heeft Sietske afscheid genomen en is ons team versterkt met Toos IJdema</div>
	<div class="intro-content border-green">
		<div class="intro-subcontent" id="intro-pict">
			<h3>Ingrid Buthod-Girard</h3><img src="{% static 'images/tmp7303-large.png' %}">
			<div>20 maart 1961 getrouwd 2 kinderen en 2 kleinkinderen gymnasium alfa, culturele antropologie</div>
		</div>
		<div class="intro-subcontent" id="intro-experience">
			<p class="intro-subcontent">Vanaf 1991 - Freelance</p>
			<p class="intro-subcontent">1996-2002 - vertaler in dienst van Experttext</p>
			<p class="intro-subcontent">2002-huidig - Vennoot Inaksie</p>
		</div>
		<div class="intro-subcontent" id="intro-text">Met een Brusselse moeder en een Franse echtgenoot ligt affiniteit met de Franse taal voor de hand maar ook in het Engels en Duits voel ik me thuis, zeker als het gaat om het vertalen van teksten over koken, sport, handwerken en reizen. Af en toe wissel ik vertaal- en redactiewerk af met schrijfopdrachten. Daarnaast ben ik verantwoordelijk voor de bedrijfsvoering van ons vertaalbureau</div>
	</div><div class="intro-content border-green">
		<div class="intro-subcontent" id="intro-pict">
			<h3>Akkie de Jong</h3><img src="{% static 'images/foto-Akkie-large-2-768x1024.jpg' %}">
			<div>1 oktober 1952 2 kinderen en 2 kleinkinderen gymnasium alfa, studie Nederlands aan de VU</div>
		</div>
		<div class="intro-subcontent" id="intro-experience">
			<p class="intro-subcontent">1996-2002 - vertaler in dienst van Experttext</p>
			<p class="intro-subcontent">2002-huidig - Vennoot Inaksie</p>
		</div>
		<div class="intro-subcontent" id="intro-text">Na mijn studie Nederlands aan de Vrije Universiteit heb ik in totaal zeven jaar in het onderwijs gewerkt. In 1995 ben ik begonnen met vertaal- en redactiewerk. Ik vind het een uitdaging van elke tekst een goed leesbaar geheel te maken in correct Nederlands, met behoud van de persoonlijke stijl van de auteur. Zowel bij redigeren als vertalen wordt vaak een beroep gedaan op je creativiteit en dat maakt dit werk zo aantrekkelijk.</div>
	</div><div class="intro-content border-green">
		<div class="intro-subcontent" id="intro-pict">
			<h3>Toos IJdema</h3><img src="{% static 'images/foto-Toos-large-2-1024x997.jpg' %}">
			<div>31 oktober 1950 getrouwd en 1 kleinkind HBS-A en Engels- MO Gelderse Leergangen</div>
		</div>
		<div class="intro-subcontent" id="intro-experience">
			<p class="intro-subcontent">1969-2005 - Commerciële carrière 	Opleiding</p>
			<p class="intro-subcontent">2005-2010 - vertaler Spaans (ITV)</p>
			<p class="intro-subcontent">2010-2014 - Spaanse taal en cultuur aan RU</p>
			<p class="intro-subcontent">2011-2014 - Freelancer bij inAksie</p>
			<p class="intro-subcontent">2014-huidig - Vennoot inAksie</p>
		</div>
		<div class="intro-subcontent" id="intro-text">Na een commerciële carrière bij een bedrijf met ook Engelse, Duitse en Franse klanten, heb ik vanaf 2005 een HBO-opleiding gevolgd tot vertaler Spaans (ITV) en daarna vanaf 2010 Spaanse taal en cultuur gestudeerd aan de Radboud Universiteit. Vertalen vond ik direct heel boeiend. Vanaf 2009 heb ik voor het Lilianefonds veel documenten vertaald vanuit het Spaans en Engels naar het Nederlands en vice versa. Ik ga 1 à 2 keer per jaar naar Spanje om mijn Spaans bij te houden.</div>
	</div>

{% endblock %}