{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="intro-content border-green" id="portfolio-kookboeken">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Kookboeken</i></h3>
			Een greep uit de titels die we vertaald hebben: Bij mij aan tafel, koken, eten, leven, Simply Nigella (Nigella Lawson); Big Mamma en Big Mamma in 30 minuten (diverse auteurs); Hartwood (Eric Werner, Mya Henri); De vegan slager (Zachary Bird); Mangiare (Katie Caldesi); Greek (George Calombaris)</div>
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/Aan_tafel.jpg' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/51JXfwhFifL._SX258_BO1,204,203,200_QL70_ML2_.jpg' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/image003.png' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/929x1200.jpg' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x702.jpg' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x657.jpg' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/tmpF12E.png' %}">
			<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x766.jpg' %}">
			<div class="portfoliotext portfoliosubcontent">
				Kookboeken vragen om specifieke aandacht. Ook al hebben uitgevers vaak hun eigen huisregels en voorkeuren, er zijn toch aspecten waar je bij elk boek op moet letten: ingrediëntenlijst op volgorde van het recept; cups omrekenen naar grammen en (milli)liters; culinaire terminologie (brunoise of julienne snijden, ciseleren, passeren,…); rozemarijn heeft naaldjes en vlees moet een bepaalde kerntemperatuur bereiken, enzovoort. 
			</div>
			<div class="portfoliotext portfoliosubcontent">
				Daarnaast is het belangrijk om een recept te lezen. Klopt de volgorde? Worden alle ingrediënten gebruikt of in de ingrediëntenlijst genoemd? Het is alsof je het gerecht in je hoofd bereidt. Soms gaan we er zelfs voor in de keuken aan de slag. Alleen niet te vaak met het oog op de lijn.
			</div>
	</div>

	<div class="intro-content border-green" id="portfolio-kinderboeken">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Kinderboeken</i></h3>
			Tot de kinderboeken die we hebben vertaald horen onder meer De Olifantendief (Jane Kerr), De grote droomroof (Greg James &amp; Chris Smith), Sherlock Honds en de gestolen kroonjuwelen (Tim Collins), de serie Ponyclub van Liza Kolb; Lessen voor prinsessen/supersterren/toverheksen (Irène Colas); Een panda voor mijn verjaardag (Sarah Horne); Dagboek van een voetbalheld (Shamini Flint)
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/tmpCA4D-large.png' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x825.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/9789464530223_front.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/vdh9789021683805.png' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x776.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/vvi9789493189799.png' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/540x840.jpg' %}">
		<div class="portfoliotext portfoliosubcontent">
			Een kinderboek vertalen is bijna een vak apart. Het is vooral belangrijk om het taalgebruik af te stemmen op de leeftijd van de doelgroep. Gelukkig is een en ander vaak al in het oorspronkelijke boek prima op orde. Het lastigst zijn vaak de grappen, zeker als het woordgrappen zijn die heel wat inventiviteit vergen. De grap moet immers grappig zijn, maar ook aansluiten op de tekst en op eventuele illustraties. Verder letten we erop dat de tekst verantwoord is en dus geen overmatig geweld, bloot of discriminerende opmerkingen bevat. Dit gaat altijd in overleg met de uitgever.
		</div>
	</div>

	<div class="intro-content border-green" id="portfolio-reisboeken">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Reisboeken</i></h3>
			Een greep uit onze titels: Ultieme roadtrips (Colin Salter), Parijs/New York in stijl (Megan Hess); Rough Guides New York (Martin Dunford e.a.), Rome, Istanbul (Terry Richardson), Hotelhobby’s (Marcus Weeks), enz.
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/tmpC03A.png' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x797.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/1200x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/780x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/547x840.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/boekenbalie_9789043910170_cover.jpg' %}">
		<div class="portfoliotext portfoliosubcontent">
			Er zijn gidsen voor backpackers waarin de nadruk op heel andere dingen ligt dan in bijvoorbeeld beschrijvingen van roadtrips. Naast mooie foto’s die een goed beeld geven van de omgeving zoekt de backpacker adressen om goedkoop te overnachten en te eten, terwijl wie een roadtrip maakt graag een goede beschrijving van de route wil. Voor sommige boeken hebben we die routebeschrijvingen op google maps gevolgd en zijn dan toch af en toe op een “hindernis” gestuit. Tussendoor is het ook opletten dat de namen van steden en streken goed gespeld zijn.
		</div>
		<div class="portfoliotext portfoliosubcontent">
			Maar vooral is het vertalen van een reisboek een soort vakantie tussendoor. Of misschien zijn reisgidsen beter te vergelijken met de voorpret die je hebt als je een vakantie plant.
		</div>
	</div>

	<div class="intro-content border-green" id="portfolio-sportboeken">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Sportboeken</i></h3>
			We hebben met veel plezier gewerkt aan onder meer: Barça (Guillem Balagué), Notorious (Jack Slack), Messi (Guillem Balagué), Dans work-out (Caron Bosler), Het rijpaard (Perry Wood), Het paardenhandboek (Judith Draper), De krachttraining methode (Frédéric Delavier), Wildzwemmen (Anna Deacon en Vicky Allen), enz.
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/Barca.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/546x840 (1).jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x836.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/949x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x731.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/922x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/cms_visual_155440.jpg_1341572018000_459x600.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/789x1200.jpg' %}">
		<div class="portfoliotext portfoliosubcontent">
			Elke sport heeft zo zijn eigen terminologie, van de brancotrap tot catenaccio bij voetbal, van chasse patate tot wandeletappe bij wielrennen, of van aanleuning tot verzameling bij paardrijden. Voor het correcte jargon en om de sfeer van een sport te proeven is het goed om filmpjes op YouTube te bekijken. Al kun je in een vertaling niet beeld en geluid meenemen, met de juiste woorden lukt het zeker om de sfeer te ‘pakken’.
		</div>
		<div class="portfoliotext portfoliosubcontent">
			En rest er toch nog twijfel over de juiste judogreep of fitnessoefening, dan steken we ons licht op bij de trainer van het eerste elftal van de lokale voetbalclub of een lerares Frans van een kind die toevallig ook aan wildzwemmen doet.
		</div>
	</div>

	<div class="intro-content border-green" id="portfolio-lifestyle">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Lifestyle &amp; spiritualiteit</i></h3>
			In deze categorie is de keus aan voorbeelden groot: Voorbij de bergen (Maud Ankaoua), Doe en denk als een kat ( Stéphane Garnier), Blue Zones Methode (Dan Buettner), Het feel good plan (Dalton Wong, Kate Faithfull-Williams), The Art of People (Dave Kerpen), Was het maar maandag! (Brigitte Durruty), Luister naar je baarmoeder (Maud Renard), De kracht van zelfliefde (Shanti Schiks), enz.
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/bergen.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/813x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/547x840 (1).jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x683.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/782x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/9789025905583-920x960.webp' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/9789043924382.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/546x840 (2).jpg' %}">
		<div class="portfoliotext portfoliosubcontent">
			Een zinvol en bevredigend leven is iets wat we allemaal willen. Maar hoe moet dat leven eruit moet zien en hoe kunnen we het bereiken? Waar de ene schrijver het zoekt in een gezond lijf en regelmaat, probeert de andere zijn lezers meer vertrouwen in zichzelf te geven en hun zelfbeeld op te vijzelen. De rode draad die door al dit soort boeken loopt is positiviteit. Ze reiken allemaal een manier aan om je staande te houden in onze hectische wereld waarin we door de maatschappij en zeker ook door social media ideeën opgedrongen krijgen die niet altijd goed voor ons zijn. En altijd is bewustwording onmisbaar en daartoe moeten we ons, ook als vertalers, openstellen voor nieuwe inzichten.
		</div>
	</div>

	<div class="intro-content border-green" id="portfolio-biografieen">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>Biografieën &amp; Bekende personen</i></h3>
			We zijn in het leven gedoken van bijvoorbeeld: Banksy (Alessandra Matanza), Bodybook (Cameron Diaz), What Happened (Hillary Rodham Clinton), Hitchcock compleet (deel) (Bernard Bénoliel e.a.), Maradona (Guillem Ballague), Op snelheid (Mark Cavendish); Jürgen Klopp (Elmar Neveling en Roger Repplinger)
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/Banksy.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x702 (1).jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/990x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/download (1).jfif' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/790x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/782x1200 (1).jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/download (2).jfif' %}">
		<div class="portfoliotext portfoliosubcontent">
			Bekende personen hebben een onmiskenbare aantrekkingskracht. Ook als vertaler zijn we nieuwsgierig, willen we meer weten over de mens achter de beroemde naam. En dat is maar goed ook, want misschien nog wel meer dan bij andere onderwerpen is gedegen onderzoek van de achtergrond nodig. Beroemdheden hebben fans, fans die ook je vertaling zullen kopen en die veel meer van deze mensen weten dat jij als vertaler. Dus moet je vertaling kloppen, qua namen, historie, vaktermen en nog veel meer.
		</div>
		<div class="portfoliotext portfoliosubcontent">
			Soms krijgen we ook te maken met een krappe deadline, omdat de actualiteit bijna per direct om een boek vraagt, zoals bij het overlijden van de voetballer Maradona of de presidentsverkiezingen in de VS die Hilary Clinton nipt verloor.
		</div>
	</div>

	<div class="intro-content border-green" id="portfolio-misc">
		<div class="portfoliotext portfoliosubcontent">
			<h3><i>En nog veel meer</i></h3>
			Chineasy (Shao Lan); Het nieuwe acrylbronnenboek (Rhéni Tauchid); Moleculen (Theodore Gray); De koraaldriehoek (Ben Kassem &amp; Eric Madeja); Vrouwen van de wereld (Pierre Chavot); Toptuinen voor kinderen (Claire Matthews); Meubels maken van gerecycled hout (Mark Griffiths)
		</div>
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/AlledaagsChinees.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/9789048313181.jfif' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/61Akn46JKlL.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/9789048313181.jfif' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/888x1200.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x614.jpg' %}">
		<img class="portfoliosubcontent portfolioimg" src="{% static 'images/550x688.jpg' %}">
		<div class="portfoliotext portfoliosubcontent">
			Deze categorie is een verzamelvat van boeken over de meest uiteenlopende onderwerpen. Een groot aantal ervan ligt in de hobbysfeer, van schilderen, via tuinieren, tot werken met fimoklei, houtsnijden of glazuren. Het allerleukst is het eigenlijk een thema bij de kop te nemen waarvan we weinig weten. Zo leren we er als vertaler steeds weer bij. En dat over zaken waar we uit onszelf nooit dieper in waren gedoken, maar die uiteindelijk reuze interessant blijken te zijn.
		</div>
		<div class="portfoliotext portfoliosubcontent">
			Andere thema’s waarover we al vertalend meer hebben geleerd zijn natuur, emancipatie, scheikunde, sieraden, antiek, handwerken en gezondheid.
		</div>
	</div>
{% endblock %}