{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="intro-content border-green">
		<div class="portfoliotext portfoliosubcontent"><h3>Biografieën &amp; Bekende personen</h3>Een boek vertalen over een bekend persoon is als het lezen van een non-fictie roman. De hoofdpersoon is altijd iemand die naast een boeiend leven ook een bijzonder talent heeft of op een andere manier interessant is. Smullen voor vertalers!</div>
		<img class="portfoliosubcontent" src="{% static 'images/tmpF12E.png' %}">
	</div>

{% endblock %}